# Tastytrade OAuth Credentials
# Get these from the Tastytrade developer portal:
# 1. Create an OAuth application to get client_secret
# 2. Create a grant (OAuth Applications > Manage > Create Grant) to get refresh_token
TT_CLIENT_SECRET=66d8144bb06044792869da637add1c25f4d49264
TT_REFRESH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6InJ0K2p3dCIsImtpZCI6Imlra1NGclFCRFNlZFBOX3lVTU4wZURlWUNGNEhNWTZsYTBtb3RBenVZUzAiLCJqa3UiOiJodHRwOi8vaW5ncmVzcy1uZ2lueC1leHRlcm5hbC1jb250cm9sbGVyLWV4dGVybmFsLmluZ3Jlc3Mtbmdpbnguc3ZjL29hdXRoL2p3a3MifQ.eyJpc3MiOiJodHRwczovL2FwaS5jZXJ0LnRhc3R5d29ya3MuY29tIiwic3ViIjoiVWZiY2FlZjI2LTY3NjUtNDZmOS1hZDJkLWU5YzZmNmE1MWM2OSIsImlhdCI6MTc3MDU2NDA5OSwiYXVkIjoiNzZjMzdlNzAtYjQxZS00NDA5LWIwODgtNWU2MWYzODEyNjBhIiwiZ3JhbnRfaWQiOiJHZjFiYTRkNWEtYWRlYS00NmMyLWFhZWMtYzA5N2RmNTc1ZmFhIiwia2lkIjoiaWtrU0ZyUUJEU2VkUE5feVVNTjBlRGVZQ0Y0SE1ZNmxhMG1vdEF6dVlTMCIsInNjb3BlIjoicmVhZCB0cmFkZSBvcGVuaWQifQ.dvA4rYdfwZPrpOYNDfKVktrzlpZkweu8AEkATQgXkiPRvwkRltIiuljLG-Ug7UMB6aJbRpQF7mnmhaaEdlvdCw
