streamlit>=1.37.0
altair==4.2.2
jsonschema==4.20.0
yfinance
requests
beautifulsoup4
pandas
numpy
matplotlib
seaborn
fastapi
uvicorn
watchdog
openpyxl
sqlalchemy
psycopg2-binary
cloudscraper
pytz
schedule
tastytrade
