streamlit==1.31.1
altair==4.2.2
jsonschema==4.20.0
python-dotenv
requests
beautifulsoup4
pandas
numpy
matplotlib
seaborn
fastapi
uvicorn
watchdog
openpyxl
sqlalchemy
psycopg2-binary
cloudscraper
pytz
schedule
